.about-section {
  height: 100vh;
  margin: 2em 3em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-info-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 2em;
  column-gap: 2em;
  place-items: center;
}

.about-details-container {
  max-width: 460px;
  font-size: 1.1rem;
}

.profile-pic {
  max-height: 450px;
  border-radius: 10px;
}

.down-arrow-about {
  bottom: 0px;
  width: 40px;
  margin-bottom: 1rem;
}

.project-tag {
  position: absolute;
  color: #b6c4c3;
  text-decoration: none;
  bottom: -100svh;
  transition: 0.2s;
  margin: 0;
  left: 50%;
  transform: translate(-50%, -50%);
}

.project-tag:hover {
  color: #e4f5f4;
  transform: translate(-50%, -90%);
  transition: 0.2s;
  cursor: pointer;
}

@media (max-width: 700px) {
  .about-section {
    height: 100dvh;
    margin-left: 2em;
    margin-right: 2em;
  }
  .about-info-container {
    grid-template-columns: 1fr;
    row-gap: 1em;
  }

  .about-details-container {
    max-width: 500px;
    font-size: 1rem;
  }

  .profile-pic {
    max-width: 200px;
  }

  .project-tag {
    display: none;
  }
}
