* {
  margin: 0;
  padding: 0;
  background-color: #030c0c;
  font-family: "Inter", sans-serif;
  color: #e4f5f4;
  box-sizing: border-box;
}

.mobile-nav {
  display: none;
  margin-top: 1.5em;
  gap: 2em;
  img {
    height: 50px;
  }
}

.desktop-nav {
  position: sticky;
  top: 1.5em;
  background-color: transparent;

  margin-top: 1.5em;
  display: flex;
  width: 100%;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  img {
    height: 35px;
    width: 35px;
  }
}

.left-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2em;
  margin-left: 4em;
}

.right-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2em;
  margin-right: 4em;
}
.middle-nav {
  display: flex;
  flex: 1;
}

.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.intro {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.down-arrow {
  position: absolute;
  bottom: 0px;
  width: 50px;
  margin-bottom: 1rem;
}

.intro-page-info {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .name {
    margin-bottom: 0.5rem;
    color: #0ec9bf;
    font-size: 1.4rem;
    font-weight: bold;
  }
  margin-bottom: 3rem;
}

@media (max-width: 700px) {
  .desktop-nav {
    display: none;
  }
  .mobile-nav {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
}

.project-section {
  height: 100vh;
  display: block;
  justify-content: center;
  margin: 2em 2em;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2em 5em;
}

.footer-text,
.capy-img {
  color: rgba(228, 245, 244, 0.65);
}
