.wrapper {
  margin: 0;
  padding: 0;
  background-color: #030c0c;
  font-family: "Inter", sans-serif;
  color: #e4f5f4;
  box-sizing: border-box;
}

html {
  scroll-snap-type: y mandatory;
  scroll-snap-stop: always;
}

body {
  margin: 0;
}

.section {
  scroll-snap-align: start;
  scroll-snap-stop: always;
}

.mobile-nav {
  display: none;
  margin-top: 1.5em;
  gap: 2em;
  img {
    height: 50px;
  }
}

.desktop-nav {
  position: sticky;
  top: 1.5em;
  background-color: transparent;

  margin-top: 1.5em;
  display: flex;
  width: 100%;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  img {
    height: 25px;
    width: 25px;
  }
}

.left-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2em;
  margin-left: 4em;
  a {
    color: #b6c4c3;
  }
  a:hover {
    color: #e4f5f4;
  }
}
.right-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2em;
  margin-right: 4em;
  /* Filters for SVG to get same color + hover color */
  a > img {
    filter: invert(20%) sepia(6%) saturate(10%) hue-rotate(103deg)
      brightness(50%) contrast(92%);
  }
  a:hover > img {
    filter: invert(0%) sepia(6%) saturate(90%) hue-rotate(103deg)
      brightness(80%) contrast(92%);
  }
}
.middle-nav {
  display: flex;
  flex: 1;
}

.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.intro {
  height: 100svh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.down-arrow {
  position: absolute;
  bottom: 0px;
  width: 40px;
  margin-bottom: 1rem;
  transition: 0.2s;
}

.down-arrow:hover {
  transform: translateY(-10px);
  transition: 0.2s;
  cursor: pointer;
}

.intro-page-info {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .name {
    margin-bottom: 0;
    color: #0ec9bf;
    font-size: 1.4rem;
    font-weight: bold;
  }
  margin-bottom: 5em;
  h1 {
    margin: 5px;
  }
}

/* Mobile Version */

@media (max-width: 700px) {
  .desktop-nav {
    display: none;
  }
  .mobile-nav {
    background-color: #030c0c;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    img {
      height: 30px;
      width: 30px;
    }
  }
  .footer-block {
    margin: 1em 2em;
  }
}
