.bk-img {
  position: fixed;
  background-image: url(../assets/images/ny_bk.jpg);
  width: 100%;
  height: 100%;
  z-index: -1;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  filter: blur(0.35rem);
  transform: scale(1.1);
}

.wrapper {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  color: #e4f5f4;
  box-sizing: border-box;
}

body {
  margin: 0;
}

.mobile-nav {
  display: none;
  margin-top: 1.5em;
  gap: 2em;
  img {
    height: 50px;
  }
}

.desktop-nav {
  position: sticky;
  top: 1.5em;
  background-color: transparent;

  margin-top: 1.5em;
  display: flex;
  width: 100%;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  img {
    height: 25px;
    width: 25px;
  }
}

.left-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2em;
  margin-left: 4em;
  a {
    color: #b6c4c3;
    transition: 0.5s;
  }
  a:hover {
    color: #ffffff;
    transition: 0.2s;
  }
}
.right-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2em;
  margin-right: 4em;
  /* Filters for SVG to get same color + hover color */
  a > img {
    transition: 0.5s;
    filter: invert(20%) sepia(0%) saturate(10%) hue-rotate(103deg)
      brightness(50%) contrast(92%);
  }
  a:hover > img {
    transition: 0.2s;
    filter: invert(0%) sepia(0%) saturate(100%) hue-rotate(103deg)
      brightness(100%) contrast(92%);
  }
}
.middle-nav {
  display: flex;
  flex: 1;
}

.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* Fade in animation to look cool */

@keyframes animateIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.intro {
  height: 100svh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  animation: animateIn 1.5s linear;
}

/* Statement animiation main page */

.intro-statement {
  padding: 0.1em 0.5em 0.4em 0.5em;
}

.intro-statement:hover {
  color: #b6c4c3;
  transition: 1s;
  animation-delay: -1s;
  span {
    transition: 1s cubic-bezier(0.33, -1.81, 0.42, 1.68);
    font-size: 110%;
    color: #e4f5f4;
    animation-delay: -1s;
  }
}

.white-link-click {
  color: #e4f5f4;
  transition: 0.5s;
}

.white-link-click:hover {
  margin-top: 0px;
  color: #0ec9bf;
  transition: 0.3s;
}

.intro-statement:not(:hover) {
  color: #e4f5f4;
  transition: 0.5s;
  span {
    transition: 0.5s;
    font-size: 100%;
  }
}

@keyframes moveNudge {
  0% {
    transform: translateY(0px);
  }

  5% {
    transform: translateY(0px);
  }

  25% {
    transform: translateY(-5px);
  }

  30% {
    transform: translateY(5px);
  }
  35% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes hoverNudge {
  0% {
    transform: translateY(0px);
  }

  25% {
    transform: translateY(-5px);
  }

  75% {
    transform: translateY(5px);
  }

  100% {
    transform: translateY(0px);
  }
}

.down-arrow {
  position: absolute;
  bottom: 0px;
  width: 40px;
  margin-bottom: 1rem;
  animation: moveNudge 5s linear infinite;
}

.down-arrow:hover {
  animation: hoverNudge 1s linear;
  /* transition: 0.8s cubic-bezier(0.33, -1.81, 0.42, 1.68); */
  cursor: pointer;
}

.intro-page-info {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .name {
    margin-bottom: 0;
    color: #0ec9bf;
    font-size: 1.4rem;
    font-weight: bold;
  }
  margin-bottom: 5em;
  h1 {
    margin: 5px;
  }
}

/* Scroll lock but only on desktop -> keep it for both for now*/

/* @media (min-width: 701px) { */
html {
  scroll-snap-type: y mandatory;
  scroll-snap-stop: always;
  scroll-behavior: smooth;
}

.section {
  scroll-snap-align: start;
  scroll-snap-stop: always;
}
/* } */

/* Mobile Version */

@media (max-width: 700px) {
  .desktop-nav {
    display: none;
  }
  .mobile-nav {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    img {
      height: 30px;
      width: 30px;
    }
  }
  .footer-block {
    margin: 1em 2em;
  }
}
